/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}

/*Navigation Bar : Logo and Image  */
#logo{ 
    margin: 7px 30px;   
}
#logo img{    
    height: 76px;
    margin: 3px 6px;

}
#navbar::before{
    content: "";
    background-color: rgb(37, 11, 11);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/*Navigation Bar : List Styling  */
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

#navbar ul li{
    /* color: white; */
    /* list style none will delete the dots */
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    /* we block display beacuse we have to give padding */
    color: white;
    display: block;
    padding: 3px 16px;
    border-radius: 20px;
    /* text decoration none will remove the underline below the text */
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* Home Section */
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 715px;
    flex-direction: column;
    padding: 3px 200px;
}
#home::before{
    content: "";
    position: absolute;
    background: url(resImages/italian-cuisine-g572fbd444_1920.jpg)no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 720px;
    width: 100%;
    z-index: -1;
    opacity: 0.92;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;

}
#home p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
}

/* Services Section */
#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 5px 26px;
    margin-bottom: 40px;
    border-radius: 28px;
    background-color: #e2e1e1;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
#services .box h2{
    cursor: pointer;
}


/* Clients Section */
#client-section{
    height: 344px;
    
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(resImages/pexels-karolina-grabowska-6659550.jpg) no-repeat center center/cover;
    width: 100%;
    height: 50%;
    z-index: -1;
    opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 104px;
}

.client-item{
    padding: 34px;
}

/* Contact's Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(resImages/contact\ us.jpg)no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form{
    width: 40%;
    
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box .btn{
    
}

/* footer */
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
    padding: 12px;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 1.6rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(104, 26, 26);
    color: white;
    margin: 17px;
    font-size: 1.0rem;
    cursor: pointer;
}
.btn:hover{
    background-color: brown;
}
.center{
    text-align: center;
}






